<div class="container">
    <div class="col">
        <div class="card ">
            <div class="card-body font-weight-bolder">
                <h2 class="card-title text-center">Buscar Clientes</h2>
                <form action='/customers/submit-search' method="post" id="clientForm">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Apellido</label>
                        <input type="text" class="form-control" name="lastname" id="lastname" value="{{lastname}}">
                    </div>

                    <div class="form-group">
                        <label for="adress">Direccion</label>
                        <input type="text" class="form-control" name="adress" id="adress">
                    </div>
                    <div class="form-group">
                        <label for="locality">Localidad</label>
                        <input type="text" class="form-control" name="locality" id="locality" value="{{locality}}">
                    </div>
                    <hr class="my-3">
                    <!--<div class="form-group">
                        <label for="obs">Comentarios</label>
                        <textarea class="form-control" name="commentary" id="obs" rows="3">{{commentary}}</textarea>
                    </div>
                    -->
                    <button type="submit" class="btn btn-primary btn-lg">Buscar clientes</button>
                    <a class="btn btn-secondary btn-lg" href="javascript:history.back()" role="button">Atras</a>
                </form>
            </div>
        </div>
    </div>
</div>