<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Base de datos de clientes</h1>
     <hr class="my-4">
    <p class="lead">Elija la accion para proceder gestionando los clientes</p>
  </div>
    
<div class="container">
      <div class="row">
          <div class="col my-4">
                <a href="/customers/new-customer" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Agregar Cliente</a>
          </div>
          <div class="col my-4">
                <a href="/customers/search-customers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Buscar Cliente</a>
          </div>
          <div class="col my-4">
                <a href="/customers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Consultar todos los clientes</a>
          </div>
          
      </div>
  </div>

</div>