<div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
            <h2>Base de datos de clientes</h2>
            <hr class="my-4">
            <p class="lead">Elija la accion para proceder gestionando los clientes</p>
      </div>

      <div class="container mt-4">
            
                  
                        <a href="/customers/new-customer" class="btn btn-primary btn-lg active btn-block" role="button"
                              aria-pressed="true">Agregar Cliente</a>
                  
                  
                        <a href="/customers/search-customers" class="btn btn-primary btn-lg active btn-block" role="button"
                              aria-pressed="true">Buscar Cliente</a>
                  
                  
                        <a href="/customers" class="btn btn-primary btn-lg active btn-block" role="button"
                              aria-pressed="true">Consultar todos los clientes</a>
                  

            
      </div>

</div>